<header id="Header-home">
    <div class="container">
        <div class="Header-logo">
            <!--<img src="/themes/artec/assets/images/site/Logo.png" alt="">-->
            <span>
                ARTEC
            </span>
        </div>
        <div class="Header-show">
            <button type="button" id="Show-menu" class="btn btn-primary">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="Header-actions">
            <ul class="Items">
                <li class="Header-element">
                    <a href="#">El Taller</a>
                </li>
                <li class="Header-element">
                    <a href="/slides">Portafolio</a>
                </li>
                <li class="Header-element">
                    <a href="#">Guía</a>
                </li>
                <li class="Header-element">
                    <a href="#">Servicios</a>
                </li>
                <li class="Header-element">
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</header>