#Header {
  width: 100%;
  z-index: 9;
  > .container {
    > .Header-logo {
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
      float: left;
      padding: @Base-number 0 0;
      img {
        width: 200px;
      }
      span {
        font-size: 42px;
        color: @Site-color-80;
      }
    }
    > .Header-show {
      .visible-xs;
      float: right;
      padding: @Base-number*1.5 0 0;
      button {
        font-size: 20px;
        padding: 4px 12px;
        background-color: transparent;
        border: solid 2px @Site-color;
        border-radius: 0;
        color: @Site-color;
      }
    }
    > .Header-actions {
      float: right;
      > .Items {
        display: inline-table;
        list-style: none;
        margin: 0;
        padding: 0;
        > .Header-element {
          float: left;
          a {
            display: block;
            padding: @Base-number*4 @Base-number*2;
            font-size: 14px;
            text-transform: uppercase;
            color: @Site-color-80;
          }
        }
      }
    }
  }
}

#Header-home {
  #Header;
  position: absolute;
  top: 0;
  > .container {
    > .Header-logo {
      span {
        font-size: 42px;
        color: @Site-color-0;
      }
    }
    > .Header-show {
      button {
        border: solid 2px @Site-color-0;
        color: @Site-color-0;
      }
    }
    > .Header-actions {
      > .Items {
        > .Header-element {
          a {
            color: @Site-color-0;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #Header, #Header-home {
    > .container {
      width: 100%;
      > .Header-actions {
        > .Items {
          > .Header-element {
            a {
              display: block;
              padding: @Base-number*4 @Base-number*1.5;
            }
          }
        }
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  #Header, #Header-home {
    > .container {
      > .Header-logo {
        padding-top: @Base-number;
        span {
          font-size: 38px;
        }
      }
      > .Header-actions {
        display: none;
        float: left;
        width: 100%;
        > .Items {
          margin: 0;
          background-color: @Site-color;
          display: block;
          > .Header-element {
            float: none;
            a {
              display: block;
              color: @Site-color-0;
              padding: @Base-number*2.5 @Base-number*2;
              border-bottom: solid 1px @Site-color-80;
              &:hover {
                text-decoration: none;
                background-color: @Site-color-80;
              }
            }
            &:last-of-type {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    &.Active {
      > .container {
        > .Header-actions {
          display: block;
        }
      }
    }
  }
}