main {
  background-color: @Site-color-60;
}

.Section {
  padding: 0;
}


#Level-1 {
  position: relative;
  > .Section-content{
    padding: @Base-number*45 @Base-number*2 @Base-number*10;
    position: absolute;
    width: 100%;
    text-align: center;
    color: @Site-color-0;
    z-index: 4;
    > .Section-title {
      font-size: 85px;
      text-transform: uppercase;
      line-height: 100px;
      text-shadow: -2px 2px black;
    }
    > .Section-subtitle {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: @Base-number*3;
      text-shadow: -2px 2px black;
    }
    > .Section-text {
      font-size: 17px;
      text-transform: uppercase;
      text-shadow: -2px 2px black;
    }
  }
  > .Section-bg {
    img {
      width: 100%;
      -webkit-filter: brightness(76%);
    }
  }
}

#Level-2 {
  background-color: black;
  .container {
    padding: @Base-number*20 @Base-number*20 @Base-number*20;
    color: @Site-color-0;
    text-align: center;
    > .Section-title {
      font-size: 30px;
      margin-bottom: @Base-number*2;
    }
    > .Section-text {
      font-size: 18px;
      font-family: 'Athiti', serif;
      color: @Site-color-50;
      p {
        margin-bottom: @Base-number*3;
      }
    }
  }
}

#Level-3 {
  display: inline-table;
  width: 100%;
  color: #D6CDA5;
  text-transform: uppercase;
  position: relative;
  a {
    color: inherit;
  }
  .Section-title {
    font-size: @Base-number*10;
    line-height: @Base-number*10;
  }
  .Section-subtitle {
    font-size: 18px;
  }
  > .Section-sub {
    position: relative;
    > .Section-content {
      position: absolute;
      left: 0;
      width: 100%;
      padding: @Base-number*8;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
    }
    > .Section-bg {
      img {
        width: 100%;
      }
    }
    &.Divided {
      height: 100%;
      position: absolute;
      right: 0;
      width: 50%;
      top: 0;
      .Section-sub--sub {
        padding: @Base-number*8;
        &:first-of-type {
          background-color: #E56448;
          height: 55%;
        }
        &:last-of-type {
          background-color: #323642;
          height: 45%;
        }
      }
    }
  }
}

#Level-4 {
  background-color: @Site-color-0;
  padding: @Base-number*10 @Base-number*8;
  text-transform: uppercase;
  position: relative;
  > .Section-title {
    font-size: @Base-number*19;
    line-height: @Base-number*23;
  }
  > .Section-subtitle {
    font-size: 20px;
  }
  > .Section-action {
    font-size: @Base-number*36;
    position: absolute;
    right: @Base-number*8;
    top: 0;
    a {
      color: #E56448;
    }
  }
}

#Level-5 {
  background-color: black;
  padding: @Base-number*10 @Base-number*8;
  color: #D6CDA5;
  .Section-title {
    font-size: @Base-number*9.5;
    line-height: @Base-number*10;
    text-transform: uppercase;
  }
  .Section-subtitle {
    font-size: 20px;
    text-transform: uppercase;
  }
}


@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  #Level-1 {
    > .Section-content {
      > .Section-title {
        font-size: 75px;
      }
      > .Section-subtitle {
        font-size: 18px;
      }
    }
  }
  #Level-2 {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  #Level-3 {
    .Section-title {
      font-size: @Base-number*8;
    }
    .Section-subtitle {
      font-size: 16px;
    }
  }
  #Level-4 {
    > .Section-title {
      font-size: @Base-number*15;
      line-height: @Base-number*20;
    }
    > .Section-action {
      font-size: @Base-number*30;
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #Level-1 {
    > .Section-content {
      padding-top: @Base-number*35 !important;
      > .Section-title {
        font-size: 55px;
        line-height: 65px;
      }
      > .Section-subtitle {
        font-size: 16px;
      }
    }
  }
  #Level-3 {
    .Section-title {
      font-size: @Base-number*7;
    }
    .Section-subtitle {
      font-size: 14px;
    }
    > .Section-sub {
      > .Section-content {
        padding: @Base-number*5;
      }
      &.Divided {
        .Section-sub--sub {
          padding: @Base-number*4 @Base-number*5;
        }
      }
    }
  }
  #Level-4 {
    > .Section-title {
      font-size: @Base-number*13;
      line-height: @Base-number*16;
    }
    > .Section-action {
      font-size: @Base-number*25;
      top: @Base-number*4;
      right: @Base-number*4;
    }
  }
}

@media (max-width: @screen-xs-max) {
 #Level-1 {
   position: relative;
   > .Section-content {
     padding: 0;
     position: absolute;
     width: 100%;
     top:50%;
     margin-top: -@Base-number*7;
     text-align: center;
     > .Section-title {
       font-size: 38px;
       line-height: 45px;
     }
     > .Section-subtitle {
       font-size: 14px;
       margin-bottom: @Base-number*2;
     }
   }
 }
  #Level-2 {
    .container {
      padding: @Base-number*18 @Base-number*3 @Base-number*20;
    }
  }
  #Level-3 {
    > .Section-sub {
      width: 100% !important;
      position: relative !important;
      height: @Base-number*30;
      overflow: hidden;
      > .Section-content {
        position: relative;
        background-color: transparent;
        z-index: 3;
        padding: @Base-number*2 0 0 @Base-number*2;
      }
      > .Section-bg {
        position: absolute;
        top: 0;
        left: -25%;
        width: 150%;
        img {
          -webkit-filter: brightness(45%);
        }
      }
    }
    .Section-title {
      font-size: 38px;
      line-height: 45px;
    }
    .Section-subtitle {
      font-size: 14px;
    }
    .Section-sub--sub {
      padding: @Base-number*2 0 0 @Base-number*2 !important;
      height: @Base-number*30 !important;
    }
  }
  #Level-4 {
    padding: @Base-number*4 @Base-number*2;
    > .Section-title {
      font-size: @Base-number*6.5;
      letter-spacing: -4px;
      line-height: @Base-number*9;
    }
    > .Section-action {
      font-size: @Base-number*9;
      right: 0;
      top: @Base-number*5;
    }
  }
  #Level-5 {
    padding: @Base-number*4;
    .Section-title {
      font-size: 38px;
      line-height: 45px;
    }
    .Section-subtitle {
      font-size: 14px;
    }
  }
}